<app-navigationbar></app-navigationbar>
<main>
    <div class="design">
      <img src="images\connected.png" alt="contact">
    </div>

    <div class="card mx-auto" >
        <div class="color">
            <h1>Stay Connected</h1>
        </div>
        <div class="card-text">
        <p>Although we don’t have any open positions at the moment, we’re always on the lookout for talented individuals who share our vision and values. If you’re interested in joining us in the future, we’d love to hear from you!</p>
<p>Feel free to send your resume and a brief introduction to <a href="mailto:info@techraun.com">info&#64;techraun.com</a>. We’ll keep your information on file and notify you when opportunities arise.
</p>
</div>
<div class="card1 mx-auto "><a href="mailto:info@techraun.com"><img src="images\gmail.png" alt="email"></a>


</div>
     </div>

</main>
