<main>
    <div class="content">
     <div style="color: #fff;"><img src="images\location.png" alt="location">     Plot No:119,1st Floor, Royal Arcade, Mathigiri, Hosur Cattle Farm, Krishnagiri, Hosur, Tamil Nadu, India, 635110</div>
         <div><a href="mailto:info@techraun.com" style="color: #fff;text-decoration: none;"><img src="images\gmail.png" alt="email">     email:info&#64;techraun.com</a></div>
        <div><a href="tel:+9980108628" style="color: #fff;text-decoration: none;"><img src="images\contacts.png" alt="phone">        Phone:+91 7845622005 / +91 9980108628</a></div>
   </div>
    </main>
