<app-navigationbar></app-navigationbar>
<main>
    <div class="content">
      <img src="images\cybersecurity.jpg" alt="images">
    <div class="item">
        <h1>Cybersecurity</h1>
    </div>
  </div>
  <div class="content2">
  <p>Your trusted partner in safeguarding your digital assets and protecting your business from evolving cyber threats. Our cybersecurity services are designed to provide comprehensive protection, proactive threat detection, and rapid incident response to ensure your organization remains secure and resilient.</p>
  </div>
  <!-- card -->
  <div class="card-content">
    <h1>OUR SERVICES</h1>
    <div class="card-inner">
      <div class="cards" >
        <div class="color">
          <h1>Cyber Threat Detection and Prevention</h1>
        </div>
        <img src="services\background.jpg" alt="images">
        <p> Implement advanced security measures to detect, prevent, and mitigate cyber threats such as malware, ransomware, phishing attacks, and insider threats.
        </p>
     </div>
     <div class="cards" >
      <div class="color">
        <h1>Network Security</h1>
      </div>
      <img src="services\background.jpg" alt="images">
      <p>Secure your network infrastructure against unauthorized access, data breaches, and other network-based vulnerabilities with robust firewall, VPN, and intrusion detection systems.
    </p>
   </div>
      <div class="cards" >
        <div class="color">
          <h1>Endpoint Security</h1>
        </div>
        <img src="services\background.jpg" alt="images">
        <p> Protect endpoint devices including desktops, laptops, mobile devices, and servers from security breaches and malware attacks with endpoint protection platforms and security solutions.</p>
     </div>
     <div class="cards" >
      <div class="color">
        <h1>Cloud Security</h1>
      </div>
      <img src="services\background.jpg" alt="images">
      <p>  Ensure the security of your cloud environments, applications, and data with cloud-specific security controls, encryption, and access management solutions.</p>
   </div>
   <div class="cards">
    <div class="color">
      <h1>Security Audits and Assessments</h1>
    </div>
    <img src="services\background.jpg" alt="images">
    <p>Conduct comprehensive security audits, vulnerability assessments, and penetration testing to identify and remediate security gaps before they are exploited by malicious actors.</p>
 </div>
 <div class="cards" >
    <div class="color">
      <h1>Security Awareness Training</h1>
    </div>
    <img src="services\background.jpg" alt="images">
    <p> Educate your employees about cybersecurity best practices, phishing awareness, and safe online behavior to strengthen your organization's overall security posture.
    </p>
 </div>
    </div>
  </div>
  <!-- card -->
   <div class="foot">
    <h1>Why Choose Us?</h1>
    <div class="card1-content">
    <div class="card1">
      <img src="services\customer-review.png" alt="images">
      <h1>Expertise</h1>
      <p> Our team of cybersecurity professionals possesses deep expertise and industry certifications, ensuring we deliver effective solutions tailored to your specific security requirements</p>
    </div>
    <div class="card1">
      <img src="services\approach.png" alt="imges">
      <h1>proactive Approach</h1>
      <p>We adopt a proactive approach to cybersecurity, staying ahead of emerging threats and continuously improving our security measures to protect your organization.</p>
    </div>
    <div class="card1">
      <img src="services\file.png" alt="images">
      <h1>Compliance</h1>
      <p> Ensure compliance with industry regulations and standards such as GDPR, HIPAA, PCI DSS, and others, with our comprehensive cybersecurity solutions and services.
      </p>
    </div>
    <div class="card1">
      <img src="services\24-hours-service.png" alt="images">
      <h1>24/7 Monitoring and Support</h1>
      <p style="margin-top: -12rem;">Benefit from round-the-clock monitoring, threat detection, and incident response services to promptly address security incidents and minimize potential impact.</p>
    </div>
   </div>
   </div>
</main>
