<app-navigationbar></app-navigationbar>
<main>
    <div class="container">
    <div class="row">
        <div class="col">
            <p class="p1">Enabling Businesses to Overcome Limits and Be Future-Ready</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Techraun</h1>
            <h1> Consulting Solutions</h1>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-9 col-md-9">
            <p class="p2">Empower your business with innovation technology solution tailored for sucess.At Techraun,we specialize in delivering cutting-edge services to meet your digital transformation needs.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button "><a routerLink="/contact" routerLinkActive="active" style="text-decoration: none;color:#fff;font-family: sans-serif">Contact Us</a></button>
        </div>
    </div>
   
    </div>
   
    </main>
    <app-slider></app-slider>
    <app-cards></app-cards>
    <app-cardflip></app-cardflip>
     <section class="outshine">
        <h2>OUTSHINE WITH US</h2>
        <P >At Techraun, our credo is to stay nimble and focused, dedicated to empowering transformation within your business.</P>
     </section>