<app-navigationbar></app-navigationbar>
<main>
    <div class="content">
      <img src="services\luca-bravo-9l_326FISzk-unsplash.jpg" alt="images">
    <div class="item">
        <h1>Application Development</h1>
        <h1 id="head"> and Maintenance</h1>
    </div>
  </div>
  <div class="content2">
  <p>At Techraun Consulting Solutions Private Limited, we specialize in comprehensive application development and maintenance services tailored to meet the dynamic needs of modern businesses. Whether you're looking to build a new application from scratch or enhance an existing one, our team of experts is here to support you every step of the way.</p>
  </div>
  <!-- card -->
  <div class="card-content">
    <h1>OUR SERVICES</h1>
    <div class="card-inner">
      <div class="cards" >
        <div class="color">
          <h1>Custom Application Development</h1>
        </div>
        <img src="services\background.jpg" alt="images">
        <p> We design and develop bespoke software solutions that align perfectly with your business goals and operational requirements.</p>
     </div>
     <div class="cards" >
      <div class="color">
        <h1>Application Maintenance & Support</h1>
      </div>
      <img src="services\background.jpg" alt="images">
      <p>Our dedicated team ensures your applications remain secure, up-to-date, and fully functional through ongoing maintenance and support services.</p>
   </div>
      <div class="cards" >
        <div class="color">
          <h1>Legacy Application Modernization</h1>
        </div>
        <img src="services\background.jpg" alt="images">
        <p>Transform outdated applications into modern, efficient systems that leverage the latest technologies and improve performance.</p>
     </div>
     <div class="cards" >
      <div class="color">
        <h1>Mobile App Development</h1>
      </div>
      <img src="services\background.jpg" alt="images">
      <p> Create intuitive and feature-rich mobile applications that engage users and enhance your mobile presence.</p>
   </div>
    </div>
  </div>
  <!-- card -->
   <div class="foot">
    <h1>Why Choose Us?</h1>
    <div class="card1-content">
    <div class="card1">
      <img src="services\expertise1.png" alt="images">
      <h1>Expertise</h1>
      <p> Our team brings extensive expertise in diverse technologies and industries, ensuring we deliver solutions that drive business success.</p>
    </div>
    <div class="card1">
      <img src="services\collaborate.png" alt="imges">
      <h1>Collaborative Approach</h1>
      <p> We work closely with clients throughout the development and maintenance process, prioritizing transparent communication and feedback.</p>
    </div>
    <div class="card1">
      <img src="services\quality-assuarance.png" alt="images">
      <h1>Quality Assurance</h1>
      <p> Rigorous testing and quality assurance processes guarantee high-performance, reliable applications that exceed expectations.
      </p>
    </div>
    <div class="card1">
      <img src="services\satisfaction.png" alt="images">
      <h1>Customer Satisfaction</h1>
      <p> We are committed to achieving customer satisfaction by delivering on-time, within budget, and with superior quality.</p>
    </div>
   </div>
   </div>
</main>
