<main>
    <img src="images\ai.jpg" alt="images" id="image1">
    <div class="content">
      <div id="carouselExampleControls" class="carousel slide mx-auto" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="items">
              <h1>GENERATIVE AI</h1>
              <p>Generative AI revolutionizes industries by creating innovative solutions to complex challenges, enhancing efficiency, personalization, and unlocking new possibilities across healthcare, finance, manufacturing, and more.</p>
             </div>
          </div>
          <div class="carousel-item">
            <div class="items">
              <h1>CLOUD MIGRATION</h1>
              <p>Optimise the cost, agility and scalability of your IT ecosystem, by taking the best of your current infrastructure and integrating it with the cloud.</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="items" >
              <h1>APPLICATION MODERNIZATION</h1>
              <p>Transform your legacy applications into efficient, scalable, agile, cloud-native applications using the power of modern technology stacks.</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="items">
              <h1>ACCESSIBILITY FOR ALL USERS</h1>
              <p>Transforms web applications by providing inclusive, user-friendly solutions, ensuring that everyone, regardless of ability, can access and benefit from digital advancements</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      </div>
      
  </div>
</main>

