<app-navigationbar></app-navigationbar>
<main>
    <div class="content">
        <img src="industries\education.avif" alt="images">
      <div class="item">
          <h1>Education</h1>
      </div>
    </div>
    <div class="content2">
        <p>Discover how Techraun revolutionizes education with tailored technology solutions. From advanced Learning Management Systems (LMS) to interactive educational apps, we empower institutions and educators alike. Our data analytics provide deep insights into student performance and institutional effectiveness. We offer comprehensive support and training to ensure seamless integration and adoption of our solutions. Transform learning experiences, streamline administrative tasks, and foster academic success with our innovative tools. Contact us today to explore how we can enhance your educational environment.</p>
    </div>
</main>
