<app-navigationbar></app-navigationbar>
<main>
    <div class="content">
        <img src="industries\logistics.jpg" alt="images">
      <div class="item">
          <h1>Transportation and Logistics</h1>
      </div>
    </div>
    <div class="content2">
        <p>Transform your transportation and logistics operations with [Your Company Name]'s advanced technology solutions. We specialize in optimizing fleet management, route planning, and supply chain visibility to streamline operations and enhance efficiency.</p>
    </div>
    <div class="card-content">
        <h1>OUR SOLUTIONS</h1>
        <div class="card-inner">
          <div class="cards" >
            <div class="color">
              <h1>Fleet Management</h1>
            </div>
            <img src="services\background.jpg" alt="images">
            <p> Optimize your fleet operations with our robust transportation management systems (TMS) and real-time tracking solutions.</p>
         </div>
         <div class="cards" >
          <div class="color">
            <h1>Route Planning</h1>
          </div>
          <img src="services\background.jpg" alt="images">
          <p>Enhance delivery timelines and reduce costs with our advanced route optimization software.</p>
       </div>
          <div class="cards" >
            <div class="color">
              <h1>Supply Chain Visibility</h1>
            </div>
            <img src="services\background.jpg" alt="images">
            <p>Gain real-time insights into your supply chain to improve decision-making and responsiveness.</p>
         </div>
         <div class="cards" >
          <div class="color">
            <h1>Freight Forwarding</h1>
          </div>
          <img src="services\background.jpg" alt="images">
          <p> Simplify logistics processes with integrated freight forwarding solutions.</p>
       </div>
        </div>
      </div>
</main>
