<app-navigationbar></app-navigationbar>
<main>
    <div class="content">
      <img src="industries\building.avif" alt="images">
    <div class="item">
        <h1>Skyvino Audit and Tax Advisors </h1>
    </div>
  </div>
  <div class="content2">
  <p>Your trusted partner for audit and tax advisory services. They provide a comprehensive suite of services including Tax filing, 
    Accounting assistance, Company incorporation, and Trademark Registration. 
    From GST compliance to PF and ESI management, Techraun helps businesses navigate the financial landscape and ensure regulatory adherence.</p>
  </div>
  <!-- card -->
  <div class="card-content">
    <h1>OUR SERVICES</h1>
    <div class="card-inner">
      <div class="cards" >
        <div class="color">
          <h1>Audit Services</h1>
        </div>
        <img src="services\background.jpg" alt="images">
        <p>Ensure compliance and transparency with our thorough audit services tailored to meet regulatory requirements and industry standards.</p>
     </div>
     <div class="cards" >
      <div class="color">
        <h1>Tax Advisory</h1>
      </div>
      <img src="services\background.jpg" alt="images">
      <p>Minimize tax liabilities and maximize savings with our strategic tax planning and advisory services, designed to optimize financial outcomes.</p>
   </div>
      <div class="cards" >
        <div class="color">
          <h1>Financial Reporting</h1>
        </div>
        <img src="services\background.jpg" alt="images">
        <p> Prepare accurate and timely financial reports that provide insights into your business performance and support informed decision-making.</p>
     </div>
     <div class="cards" >
      <div class="color">
        <h1>Compliance and Risk Management</h1>
      </div>
      <img src="services\background.jpg" alt="images">
      <p> Navigate regulatory challenges and mitigate financial risks with our expert guidance and compliance solutions.</p>
   </div>
    </div>
  </div>
  <!-- card -->
   <div class="foot">
    <h1>Why Choose Us?</h1>
    <div class="card1-content">
    <div class="card1">
      <img src="services\best-customer-experience (1).png" alt="images">
      <h1>Expertise</h1>
      <p>  Our team of audit and tax professionals brings extensive industry knowledge and experience to deliver reliable and effective solutions.</p>
    </div>
    <div class="card1">
      <img src="services\customer-centricity.png" alt="imges">
      <h1>Client-Centric Approach</h1>
      <p >  We prioritize understanding your unique business needs to provide personalized solutions that drive business growth and success.</p>
    </div>
    <div class="card1">
      <img src="services\compliance.png" alt="images">
      <h1>Ethical Standards</h1>
      <p>Upholding the highest ethical standards, we ensure integrity and transparency in every aspect of our services.
      </p>
    </div>
   </div>
   </div>
</main>
