<main>
<div class="container">
    <div class="h1">OUR SERVICES</div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card mx-auto">
                <img src="images\application development.jpg" alt="images">
                <h3>Application Development and Maintenance</h3>
                <div class="overlay">
                    <div class="text">Transform your ideas into robust applications that drive business growth and efficiency.</div>
                </div>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card mx-auto">
                <img src="images\artificial integence.jpg" alt="images">
                <h3>Artificial Intelligence</h3>
                <div class="overlay">
                    <div class="text">Harness the power of AI to automate processes, gain insights, and enhance decision-making capabilities.</div>
                </div>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card mx-auto">
                <img src="images\clous solution.jpg" alt="images">
                <h3>Cloud Solutions</h3>
                <div class="overlay">
                    <div class="text"> Leverage scalable and secure cloud services to optimize operations and flexibility.
                    </div>
        </div>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card mx-auto">
                <img src="images\cybersecurity.jpg" alt="images">
                <h3>Cybersecurity </h3>
                <div class="overlay">
                    <div class="text"> Protect your data and infrastructure with our innovative cybersecurity solutions and strategies.</div>
        </div>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card mx-auto">
                <img src="images\data science.jpg" alt="images">
                <h3>Data Engineering</h3>
                <div class="overlay">
                    <div class="text">Unlock the potential of your data with advanced engineering and analytics solutions.</div>
        </div>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card mx-auto">
                <img src="images\enterprise.jpg" alt="images">
                <h3>Enterprise Applications and Integrations</h3>
                <div class="overlay">
                    <div class="text"> Integrate and streamline your business processes with innovative enterprise applications.</div>
        </div>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card mx-auto">
                <img src="images\quality.jpg" alt="images">
                <h3>Quality Assurance and Engineering</h3>
                <div class="overlay">
                    <div class="text">Ensure superior quality and performance with our innovative testing and engineering services.</div>
        </div>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card mx-auto">
                <img src="images\software.jpg" alt="images">
                <h3>Software Product Engineering</h3>
                <div class="overlay">
                    <div class="text">From concept to deployment, we engineer innovative software products that meet market demands.</div>
        </div>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card mx-auto">
                <img src="images\turnkey.jpg" alt="images">
                <h3>Enterprise turnkey Solutions</h3>
                <div class="overlay">
                    <div class="text"> Simplify complex operations with our innovative end-to-end solutions tailored to your enterprise</div>
        </div>
    </div>
</div>
</div>
</div>
</main>