<app-navigationbar></app-navigationbar>
<main>
    <div class="content">
        <img src="industries\realestate.jpg" alt="images">
      <div class="item">
          <h1>Real Estate</h1>
      </div>
    </div>
    <div class="content2">
        <p>Empower your real estate business with Techraun's cutting-edge technology solutions designed to enhance efficiency and maximize opportunities.</p>
    </div>
    <div class="card-content">
        <h1>OUR OFFERINGS</h1>
        <div class="card-inner">
          <div class="cards" >
            <div class="color">
              <h1>Property Management</h1>
            </div>
            <img src="services\background.jpg" alt="images">
            <p>  Streamline operations with our intuitive property management software, tailored for landlords, property managers, and HOAs.</p>
         </div>
         <div class="cards" >
          <div class="color">
            <h1>CRM and Client Engagement</h1>
          </div>
          <img src="services\background.jpg" alt="images">
          <p> Improve client relationships and boost sales with our CRM systems that track leads, manage contacts, and automate follow-ups.</p>
       </div>
          <div class="cards" >
            <div class="color">
              <h1>Marketing and Listings</h1>
            </div>
            <img src="services\background.jpg" alt="images">
            <p> Increase property visibility and attract buyers and renters through our powerful marketing platforms and listing syndication services.</p>
         </div>
         <div class="cards" >
          <div class="color">
            <h1>Market Insights and Analytics</h1>
          </div>
          <img src="services\background.jpg" alt="images">
          <p>Make informed decisions with real-time market trends, property performance analytics, and investment analysis tools.</p>
       </div>
        </div>
      </div>
</main>
